.login-box {
	width: 400px;
	height: 575px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	position: relative;

}
.image-container {
	flex-direction: row;
  position: absolute;
  top: 75px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 100px;
  width: 60%;
}

.login-box h1 {
	font-size: 30px;
	font-weight: 500px;
	color: #2F5288;
	margin-bottom: 30px
}

.container .image-overlay .login-box .image-container .logo {
  width: 75px;
  height: 75px;
	display: inline-block;
	transform: translateX(0%);
	position: relative;
} 

.login-box a {
	margin-top: 5px;
	align-self: flex-end;
	padding-right: 40px;
	cursor: pointer;
	color: #2F5288;
}

.login-box button {
	position: absolute;
	bottom: 50px;

}
.errorwrapper {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: flex;
	position: relative;
}

.container .image-overlay .errorwrapper .error-logo {
	width: 30%;
	height: auto;
    transform: translateX(0%);
    position: relative;
    align-self: center;
}

@media screen and (min-width: 375px) and (min-height: 667px) and (max-width: 500px) and (max-height: 1000px) {
	

.login-box {
	width: 95%;
}

.container .image-overlay .errorwrapper .error-logo {
	width: 90%;
}
}


