

.global-buttons {
  border: 1px solid #8FABD3;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration-line: none;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  background-color: #ECF1F7;
}

.global-buttons:active {
  background-color: #8FABD3;
  color: #FFF;
}

.dropdown-menu .global-buttons p {
  width: 100%;
  text-decoration-line: none;
  border: none;
  outline: none;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2F5288;
  font-weight: 500;
  font-size: 12px;
}

.dropdown-menu .global-buttons:active p {
  color: #ECF1F7;
}

.dropdown-menu .global-buttons svg {
  color: #2F5288;
}

.dropdown-menu .global-buttons:active svg {
  color: #ECF1F7;
}

.text-input {
  border: 1px solid #8FABD3;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}

.text-input textarea {

  width: 100%;
  height: 90%;
  border: none;
  outline: none;
  resize: none;
}

.post-modal a{
  cursor: pointer;
}

.global-input {
    border: 1px solid #8FABD3;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.global-input select {
  width: 100%;
  border: none;
  outline: none;
  appearance: none; /* Remove the default arrow in some browsers */
  -webkit-appearance: none; /* Remove the default arrow in WebKit/Blink browsers */
  -moz-appearance: none; /* Remove the default arrow in Firefox */
  padding-right: 1em; /* Add some padding to compensate for the removal of the arrow */
}

.global-input input {

    width: 100%;
}
.global-input input::placeholder {
    color: #8FABD3; 
}

.header-title {
    width: 320px;
    color: #2F5288;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    align-items: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #8FABD3;
  color: #fff;
  position: fixed; /* Change this to "fixed" */
  top: 0;
  width: 100%; /* Set the width to 100% */
  z-index: 999; /* Add z-index to ensure it's above other content */
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin-right: 50px;
}

.right span:hover {
  cursor: pointer;
}

.tab-button {
	display: block;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  /* font-family: 'Montserrat'; */
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
}

.tab-underline {
	margin-top: -20px;
	position: absolute;
	bottom: 15px;
	font-size: 30px;
	font-weight: bolder;
}

.tab-active {
  color: #2F5288;
  padding: 10px 0px;
  text-decoration: none;
}

.tab-inactive {
  text-decoration: none;
  color: #fff;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;   
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.left {
  /* font-family: 'Montserrat'; */
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}
.overview-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.data-header {
  text-align: left;
  align-self: flex-start;
  
  /* font-family: 'Montserrat'; */
}
.data-header h1 {

  font-weight: 700;
}

.data-header p {

  color: #2F5288;
  font-size: 16px;
  margin-top: 2rem;
  font-weight: 400;
}

/* card styles  */

.card-container {
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
  padding-bottom: 20px;
}

.card-wrapper {
	padding: 20px 20px;
	width: 90%;
	background-color: #fff;
	border-radius: 5px;

}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
}

.container .image-overlay .modal-overlay .modal-content .modal-image {
  width: 100%;
  height: 100%;
  display: inline-block;
	transform: translateX(0%);
	position: relative;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 75px; /* Adjust the top position according to your design */
  right: 75px; /* Adjust the right position according to your design */
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  z-index: 1; /* Ensure the dropdown appears above other elements */
}

.dropdown-menu p {
  margin: 0px;
  margin-top: 35px;
  margin-bottom: 5px;
  color: #2F5288;
  font-weight: bold;
}

.dropdown-menu h5 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 12px;
  color: #8FABD3;
  font-weight: 400;
}

.dropdown-menu button {
  margin-top: 50px;
  width: 275px;
  padding: 5px 10px;
  background-color: #2F5288;
  color: #fff; 
  border: none;
  cursor: pointer;
}

.accountbutton {
  width: 30px;
  height: 30px;
  border-radius: 200%;
  margin-right: 50px;
}


.post-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
.post-button {
  position: absolute;
  right: 5%;
  top: 15%;
  cursor: pointer;
  width: 150px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  background-color: #fff;
  margin: 10px;
}

.chart-container h1 {
  font-weight: 300;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 30px;
  padding-bottom: 10px;
  color: #2F5288;
  border-bottom: 5px solid #2F5288;
  
}

.pie-container {
  display: flex;
  width: 350px;
  height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  background-color: #fff;
  margin: 10px;
}

.pie-container h1 {
  font-weight: 300;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 30px;
  padding-bottom: 10px;
  color: #2F5288;
  border-bottom: 5px solid #2F5288;
}

.pie-analytics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  margin: 10px;
}

.pie-bottom-container {
  display: flex;
  width: 333px;
  height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  background-color: #fff;
  margin: 10px;
}

.pie-bottom-container h1 {
  font-weight: 300;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 30px;
  padding-bottom: 10px;
  color: #2F5288;
  border-bottom: 5px solid #2F5288;
}

.total-container {
  display: flex;
  width: 300px;
  height: 195px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  background-color: #fff;
  margin: 10px;
}

.total-container h1 {
  font-weight: 300;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 30px;
  padding-bottom: 10px;
  color: #2F5288;
  border-bottom: 5px solid #2F5288;
}

.total-container h2 {
  font-size: 50px;
  margin-top: 0px;
  margin-left: 30px;
  padding-bottom: 10px;
  color: #2F5288;
}

.table-button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 275px;
  height: 50px;
  font-weight: 600;
  background-color: #fff;
  color: #2F5288;
  margin: 4.5px;
  cursor: pointer;

}

.table-buttons-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.table-buttons-container {
  color: #2F5288;
}


  @media screen and (min-width: 280px) and (min-height: 500px) and (max-width: 700px) and (max-height: 1000px) {

  .card-container {
    width: 100%;
  }

  .card-wrapper {
    padding: 10px;
  } 

  .app-name {
    display: none;
  }

  .header {
    padding: 20px 20px;
  }
}


@media screen and (min-width: 100px) and (min-height: 100px) and (max-width: 279px) and (max-height: 400px) {

  .tab-button {
    font-size: 10px;
  }
  
}