body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECF1F7;
}

code {
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline: none; /* Remove the default focus outline (not recommended for accessibility) */
  border: 0.5px solid transparent; /* Set the border to transparent to remove it */
}

input {
  outline: none; /* Remove the default focus outline (not recommended for accessibility) */
  border: 0.5px solid transparent; /* Set the border to transparent to remove it */
}
button {
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #2F5288;
  width: 300px;
  height: 50px;
  cursor: pointer;
}

button:active {
  opacity: 0.8; /* Change the opacity when the button is clicked */
  cursor: progress;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8FABD3 #8FABD3;
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  width: 15px; /* Adjust the width as needed */
}

*::-webkit-scrollbar-track {
  background: white; /* Make the track background transparent */
}

*::-webkit-scrollbar-thumb {
  background-color: #8FABD3; /* Make the thumb (the draggable part) transparent */
  border-radius: 20px;
}

/* this only use to handle auth css */
.container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
	justify-content: 'center';
	align-items: center;
	display: flex;
  background-color: #ECF1F7;
  overflow: auto;
}

.image-overlay {
  position: absolute;
	display: flex;
	justify-content: center;
  flex-direction: column;
	align-items: center;
  width: 100%;
  height: 100%; /* Adjust the overlay height as needed */
  background: linear-gradient(transparent,''); /* Adjust the colors as needed */
  overflow: auto;
}

.container img {
  display: inline-block;
  transform: translateX(35%);
  position: absolute;
  align-self: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
  height: auto;
}


@media screen and (min-width: 375px) and (min-height: 667px) and (max-width: 500px) and (max-height: 1000px) {

  .container img {
    width: 100%;
    transform: translateX(0%);
  }

}

@media screen and (min-width: 1920px) and (min-height: 1080px) {

  .container {
    max-width: 10000px;
  }
	
}